// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: rgb(61, 106, 255);
$yellow: #FFC65A;
$orange: #E67E22;
$green: rgb(3, 255, 116);
$gray: #0E0000;
$light-gray: #F4F4F4;
