<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<%= link_to 'Login', new_user_session_path %>
<%= link_to 'Find your buddy', new_user_game_path %>
<%= link_to 'My dashboard', dashboard_path %>
