<%# -------------- Navbar -------------------- %>
<div class="container-homepage">
<%= link_to new_user_game_path do %>
<button data-text="Awesome" class="button">
      <span class="actual-text">&nbsp;GOBUDDY&nbsp;</span>
      <span class="hover-text" aria-hidden="true">&nbsp;GOBUDDY&nbsp;</span>
  </button>    <% end %>
</div>
