<div class="container-card">
  <ul class='list-games'>

  <div class="swiper mySwiper" id="carousel-games">
    <div class="swiper-wrapper">
      <% @games.first(20).each do |game| %>
        <div class="swiper-slide">
          <li class='card1 m-1 game-card' data-id=<%= game["id"] %>>
            <div class="card2">
              <%= image_tag(game["background_image"])%>
              <%= game["name"] %>
            </div>
          </li>
        </div>
    <% end %>
    </div>
    <div class="swiper-pagination"></div>
  </div>
  </ul>
</div>
