<ul class='list-games'>
  <% @games.first(5).each do |game| %>
  <li class='card1 m-1 game-card' data-id=<%= game["id"] %>>
    <div class="card2">
    <%= image_tag(game["background_image"])%>
    <%= game["name"] %>
    <%#= game["rating"] %><%#= game["rating_top"] %>
    </div>
  </li>
  <% end %>
</ul>
