<div class="container-results">
  <h1>Choose Buddies</h1>
  <!-- Slider main container -->
  <div class="swiper mySwiper">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <!-- Slides -->
       <% @filter_matches.each do |user_game| %>
      <%= render "user_games/cardswipe", user_game: user_game %>
      <% end %>
    </div>
    <!-- If we need pagination -->
    <div class="swiper-pagination"></div>

    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>

  </div>
</div>
