.alert {
  position: fixed;
  bottom: 200px;
  right: 16px;
  z-index: 1000;
  background-color: #3d6aff77;
  border-color: $blue;
  color:white;
}

.notice {
  position: fixed;
  bottom: 200px;
  right: 16px;
  z-index: 1000;
  background-color: #3d6aff77;
  border-color: $blue;
  color:white;
}
