.main-container{

}
.container-results{
  margin: auto;
  width: 50%;
  text-align: center;
  justify-content: center;
}
.card-choice img{
  width: 100%;
}

.mt-4{
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.card-choice {
  background: #0000006f;
  border-radius: 10px;
  border: 1px solid $blue;
  box-shadow: rgba(0, 77, 154, 0.54) 0px 8px 24px;
  margin-bottom: 2rem;
  padding-bottom: 10px;
  text-align: center;
}
