.container-results{
  margin: auto;
  width: 50%;
  text-align: center;
  justify-content: center;
}
.card-choice{
  width: 18rem;
}

.card-choice img{
  width: 100%;
  height: 270px;
  object-fit: cover;
  border-radius: 10px;

}

.mt-4{
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.card-choice {
  background: linear-gradient(0deg, rgba(5,54,27,1) 10%, rgba(3,255,116,1) 64%);
  border: 1px solid $green;
  border-radius: 10px;
  box-shadow: rgba(3, 255, 116, 0.314) 0px 8px 18px;
  margin-bottom: 2rem;
  padding-bottom: 10px;
  text-align: center;
}

.card-text{
  padding: 10px;
}
.card-title{
  margin-top: 15px;
  font-size: xx-large;
  color: white;
}

.mb-2{
  color: white;
}
.swiper-button-prev{
  color: $green !important;
}
.swiper-button-next{
  color: $green !important;
}

.btn-card{
border-color: $green;
}
