.img-profil {
  width: 100px;
  height: 100px;
  img {
    height: auto;
    width: 100%;
  }
}

.card-profil {
  width: 220px;
  border-radius: 22px;
  background: #212121;
  box-shadow: 15px 15px 30px rgb(25, 25, 25),
  -15px -15px 30px rgb(60, 60, 60);
}

.container-card {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: auto;
  height: 525px;
}
