.card-post {
  width: 500px;
  height: 220px;
  background-image: linear-gradient(144deg,#2421b5, #492fed 60%,#40b259);
  border: none;
  position: relative;
  margin: auto;
  font-family: inherit;
  border-radius: 15px;
 }

 .container-top {
  display: flex;
  justify-content: space-between;
 }
 .card-post span {
  font-weight: 600;
  color: white;
  text-align: center;
  display: block;
  padding-top: 10px;
  font-size: 1.3em;
 }

 .card-post .post {
  font-weight: 400;
  color: white;
  display: block;
  text-align: center;
  padding-top: 5px;
  font-size: 1em;
 }

 .card-post-border-top{
  display: flex;
  justify-content: space-evenly;
 }
 .card-post-border-top img {
  width: 70px;
  height: 70px;
  background: #e8e8e8;
  border-radius: 100%;
  margin: auto;
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 0px;
 }

 .card-post button {
  padding: 8px 25px;
  display: block;
  margin: auto;
  border-radius: 8px;
  border: none;
  margin-top: 30px;
  background: #e8e8e8;
  color: #111111;
  font-weight: 600;
 }

 .card-post button:hover {
  background: #212121;
  color: #ffffff;
 }
