.container-results img {
  width: 100px;
}

.card-profil {
  width: 220px;
  height: 300px;
  border-radius: 22px;
  background: #212121;
  box-shadow: 15px 15px 30px rgb(25, 25, 25),
  -15px -15px 30px rgb(60, 60, 60);
}
