.container-dashboard{
  margin: auto;
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 90%;
  color: white;
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.container-left{
  border-right-style: groove;
  padding: 20px;
  width: 20%;
  border: 1px solid rgba(62, 106, 255,0.5);
  background-color:rgba(62, 107, 255, 0.099);
  border-radius: 15px;
}
.container-profil{
  h1{
    color: $green;
  }
  h6{
    font-size: initial;
    line-height: 1.5;
  }
}
.title-dash{
  color: $green; ;
  padding-top: 10px;
}

.container-profil img{
  width: 50%;
  margin-bottom: 20px;
  border-radius: 15px;

}

.container-friend{
  // background-color: rgb(47, 206, 255);

}

.container-friend h2,h5{
  color: $blue;
}

.container-right{
  width: 60%;
  border: 1px solid rgba(62, 106, 255,0.5);
  background-color:rgba(62, 107, 255, 0.099);
  border-radius: 15px;
}

.container-newpost{
 padding-inline: 10%;

}


.container-post{
  // background-color: rgb(220, 212, 0);
  margin-top: 10px;
  border-top: 2px solid $blue ;
}
.btn-post{
  font-size: 10px;
  padding: 5px;
}
