.form-games {
  width: 80%;
  display: flex;
  justify-content: center;
  margin: auto;
}

.margin-form {
  margin-top: 50px;
  margin-bottom: 38px;
}

.margin-form .btn {
  margin-top: 10px;
  object-position: center;
}
