.flex-container {
  display: flex;
  width: 80%;
  margin: 40px auto;
}

.card-show {
  height: 100%;
  width: 100%;
  border: 1px solid rgba(62, 106, 255,0.5);
  background-color:rgba(62, 107, 255, 0.099);
  border-radius: 15px;
  padding: 20px;
  display: flex;
  column-gap: 20px;
  box-shadow: 1px 1px 16px -6px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 1px 1px 16px -6px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 1px 1px 16px -6px rgba(0, 0, 0, 0.5);
}

.img-show {
  object-fit: cover;
  align-items: center;
  height:250px;
  width: 250px;
  border-radius: 15px;
  box-shadow: 1px 1px 16px -6px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 1px 1px 16px -6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 1px 16px -6px rgba(0, 0, 0, 0.75);
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    border-radius: 15px;
  }
}

.container-detail {
  padding:10px;
  width: 450px;
  height: 250px;
  margin-left:20px;
  h2{
    color: $green;
  }
  h6{
    font-size: initial;
    line-height: 1.5;
  }
}
.history{
  height: 250px;
  border-left: 2px solid $blue;
  border-left-style: groove;
  padding-left: 20px;
  padding-top: 10px;
  margin-left:20px;
  h2{
    color: $green;
  }
  h6{
    font-size: initial;
    line-height: 1.5;
  }
}
