.logo img {
  width: 70px;
  margin-left: 20px;
}
.avatar-navbar img {
  width: 30%;
  margin-left: 34px;
  border-radius: 5px;
}
.offcanvas{
  width: 300px !important;
}
.offcanvas-body{
  margin-left: 20px;
}

.navbar{
  h5{
    font-size: xx-large;
    padding-left: 15px;
  }
  box-shadow: 0px 1px 2px rgba(3, 255, 166,0.5),
  0px 2px 4px rgba(3, 255, 166,0.5),
  0px 4px 8px rgba(3, 255, 166,0.5),
  0px 8px 16px rgba(3, 255, 166,0.5);
}

.nav-item a{
  font-size: large;
  padding-bottom: 10px;
}

.navbar-toggler{
  border-color: $green;
}
.fa-solid{
  color: $green;
  padding: 10% 5px;
}

.navbar h5{
  color: $green;
}
