// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

#main-container {
  min-height: calc(100vh - 171px);
  padding-top: 45px;
}


body {
  background: url('https://res.cloudinary.com/dcd4fkkhk/image/upload/v1678377849/sl_0210121_40570_43_mrvzet.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
