// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

// Swiper install


#main-container {
  min-height: calc(100vh - 171px);
  padding-top: 110px;
}


body {
  background:linear-gradient(
    rgba(0, 0, 0, 0.8),
    rgba(0, 0, 0, 0.8)
  ),
  url('https://res.cloudinary.com/dcd4fkkhk/image/upload/v1678893919/5148675_olo25o.jpg') fixed;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color:white;

}
